@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #111111;
  overflow: hidden;
}

* {
  user-select: none;
  /* text-transform: lowercase !important; */
}

body {
  height: 100vh;
}

.sidebar {
  display: flex;
  gap: 1em;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
  width: 300px;
  background-color: #020202;
  height: 100vh;
}

.sidebar.hide {
  width: 0 !important;
}

.hr_container {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
.hr_container hr {
  border-color: rgba(128, 128, 128, 0.2);
  width: 95%;
}

.sidebar_inner {
  background-color: #141414;
  border-radius: 15px;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: fit-content;
  min-height: fit-content;
}

.chats_list {
  max-height: 30vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.user_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user_container_inner {
  min-height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  background-color: #141414;
  border-radius: 15px;
  display: flex;
  padding: 0.5em;
  height: fit-content;
  min-height: fit-content;
}

.user_container span {
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_chat {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding: 2em;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.searchbar_container {
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
}

.searchbar {
  width: 50%;
}

.starter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 100vh;
  padding-top: 10vh;
  justify-content: flex-start;
}

.starter_emoji {
  max-width: 220px;
  cursor: pointer;
}

.starter_text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4em;
}

.sidebar_chat_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.chat_sidebar_toggle_btn {
  position: fixed;
  top: 20px;
  left: 16px;
  z-index: 0;
}

.conversation_history {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 4em 2em;
  gap: 1em;
  width: 40vw;
  height: 100%;
}

.chat_bubble {
  background-color: rgba(236, 236, 236, 0.2);
  border-radius: 30px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  width: fit-content;
  border-bottom-left-radius: 0;
  user-select: text;
  height: fit-content;
}

.chat_bubble::selection {
  color: #00bbff;
  background: white;
}

.chat_bubble.user {
  /* background-color: rgba(0, 187, 255, 0.4); */
  background-color: #00bbff;
  color: black;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
}

.chat_bubble_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat_bubble_container.user {
  align-items: flex-end;
}

.chatbubble_bot_avatar {
  background-color: rgba(236, 236, 236, 0.2);
  padding: 0.43em;
  border-radius: 1000px;
}

.chatbubblebot_parent {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
@media only screen and (max-width: 600px) {
  .starter_text {
    font-size: 1em;
  }

  .sidebar {
    min-width: 70vw !important;
    padding-bottom: 60px;
  }

  .sidebar.hide {
    min-width: 0 !important;
  }

  .main_chat {
    position: fixed;
    left: 0;
    min-width: 100vw;
    padding: 1em;
    padding-bottom: 110px;
  }

  .searchbar_container {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .searchbar {
    width: 93%;
    padding-bottom: 75px;
  }

  .main_chat.hide {
    filter: brightness(0.3) blur(2px);
  }

  .conversation_history {
    width: 100vw;
    padding: 2em 1em;
  }

  .chatbubblebot_parent {
    margin-left: -0.5em;
  }
}
.searchbar input:disabled {
  cursor: wait;
}
