@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html,
body {
  background-color: #080808;
}

html {
  overflow: hidden;
}

body {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

main {
  overflow-x: hidden !important;
}
.sidebar {
  display: flex;
  gap: 1em;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
  min-width: 270px;
  max-width: 270px;
  background-color: #020202;
  height: 100vh;
}

.sidebar.hide {
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
}

.hr_container {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
.hr_container hr {
  border-color: rgba(128, 128, 128, 0.2);
  width: 95%;
}

.sidebar_inner {
  background-color: #141414;
  border-radius: 15px;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: fit-content;
  min-height: fit-content;
}

.chats_list {
  max-height: 30vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.user_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user_container_inner {
  min-height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  background-color: #141414;
  border-radius: 15px;
  display: flex;
  padding: 0.5em;
  height: fit-content;
  min-height: fit-content;
}

.user_container span {
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_chat {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding: 2em;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.searchbar_container {
  width: 100%;
  background-color: #080808;
  display: flex;
  justify-content: center;
}

.searchbar {
  width: 50%;
}

.starter_container,
.starter_container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 100%;
  padding-bottom: 40vh;
  justify-content: flex-start;
}

.starter_container2 {
  padding-bottom: 2vh;
  padding-top: 1vh;
  height: fit-content;
  justify-content: flex-start;
}

.starter_emoji {
  max-width: 220px;
  cursor: pointer;
}

.starter_text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4em;
}

.main_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.chat_sidebar_toggle_btn {
  position: fixed;
  top: 20px;
  left: 16px;
  z-index: 0;
}

.conversation_history {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
  width: 40vw;
  height: fit-content;
  min-height: 10vh;
}

.chat_bubble {
  border-radius: 30px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  width: fit-content;
  border-bottom-left-radius: 0;
  user-select: text;
  height: fit-content;
  overflow: hidden;
  max-width: 30vw;
  min-width: fit-content;
}

.chat_bubble span strong,
.chat_bubble span em,
.chat_bubble span a {
  margin: 0 3px;
}

.chat_bubble p pre {
  margin-top: 20px;
  padding: 20px;
  background: #000000ab;
  border-radius: 15px;
}

.chat_bubble code {
  padding: 3px 10px;
  background: #000000ab;
  border-radius: 5px;
}

.chat_bubble span a {
  color: rgb(0, 153, 255);
  text-decoration: underline;
}

.chat_bubble::selection {
  color: #00bbff;
  background: white;
}

.chat_bubble.user {
  /* background-color: rgba(0, 187, 255, 0.4); */
  background-color: #00bbff;
  color: black;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
}

.chat_bubble_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat_bubble_container.user {
  align-items: flex-end;
}

.chatbubblebot_parent {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.toast {
  background-color: #00bbff !important;
  box-shadow: 0px -5px 10px 3px rgba(0, 0, 0, 0.3) !important;
}

.toast_error {
  background-color: maroon !important;
}

.voice-recorder_maincontainer {
  border: none;
  box-shadow: none;
  aspect-ratio: 1/1;
  /* margin: 0; */
}

.voice-recorder_waveformcontainer {
  background-color: #111111;
  /* overflow: hidden; */
  background-image: none;
}

.smiley_avatar {
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.lottie_container svg {
  cursor: default !important;
}

.rs-container {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  width: fit-content !important;
  padding: 0 5px;
  height: 27px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.rs-container button {
  border: none !important;
  background-color: transparent !important;
  width: 22px !important;
}

.rs-pause svg,
.rs-resume svg {
  fill: #9b9b9b;
}

.rs-play {
  background-color: transparent !important;
  border: nonec !important;
  padding: 0 !important;
}

.rs-text button {
  padding: 0 !important;
  width: 22px;
  max-width: 22px;
  min-width: 22px;
}

.pdf_container {
  max-width: 330px;
  min-width: 330px;
  max-height: 150px;
  min-height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.arrow_diagonal {
  transition: all 0.3s ease;
}
.arrow_diagonal_btn:hover .arrow_diagonal {
  transform: translateY(-10%);
}

.chat_sidebar_toggle_btn {
  z-index: 5;
}

.rounded_class {
  border-radius: 1000px;
}

.searchbar input:disabled {
  cursor: wait;
}

.landing_page {
  overflow: hidden;
  min-height: 100vh;
  z-index: 1;
}

.navbar {
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_content {
  width: 90%;
  background-color: rgba(85, 85, 85, 0.1);
  height: 45px;
  border-radius: 1000px;
  margin: 20px 10px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 3px;
  outline: 2px rgba(255, 255, 255, 0.1) solid;
}

.landingpage_maintext {
  font-size: clamp(2.8em, 10vw, 7em);
  margin: 0 !important;
  z-index: 1;
}

.arrow_diagonal_btn {
  width: fit-content;
  text-wrap: nowrap;
  max-width: 100%;
}

.navbar_title {
  font-weight: 500;
  font-size: 1.6em;
}

.landing_img_parent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7% 0;
}

.landing_img_container {
  width: 90vw;
  outline: 1px solid #00bbff;
  border-radius: 20px;
  -webkit-box-shadow: 1px -66px 108px -49px rgba(0, 187, 255, 0.71);
  -moz-box-shadow: 1px -66px 108px -49px rgba(0, 187, 255, 0.71);
  box-shadow: 1px -66px 108px -49px rgba(0, 187, 255, 0.71);
}

.landing_img_container img {
  border-radius: 20px;
  position: relative;
  z-index: 1 !important;
}

.feedback_form_container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.feedback_form {
  min-height: fit-content;
  height: 88vh;
  width: 81vw;
  margin: 5% 10%;
  padding: 5% 5% 130px 5%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.orbiting_circles_mid {
  width: 45px;
  height: 45px;
}

.orbiting_circles_inner {
  width: 40px;
  height: 40px;
}

.orbiting_circles_outer {
  width: 60px;
  height: 60px;
}
.next_prev_buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 70vw;
  bottom: 5vh;
}

.lucide-x {
  top: 100px !important;
  right: 100px !important;
}

.PhoneInput {
  width: 100%;
  height: fit-content;
}

.PhoneInputInput {
  background-color: transparent;
  transition: all 0.1s ease;
  border-bottom: 2px solid rgb(56, 56, 56);
}

.PhoneInputInput:focus {
  outline: none;
  border-color: #00bbff;
}
@media only screen and (max-width: 600px) {
  .next_prev_buttons {
    bottom: 50px;
    width: 90vw;
  }

  .feedback_form_container {
    padding: 0;
  }
  .feedback_form {
    margin: 0;
    margin-top: 80px;
    width: 100vw;
    justify-content: center;
  }
  .starter_text {
    font-size: 1em;
  }

  .sidebar {
    min-width: 70vw !important;
    padding-bottom: 60px;
  }

  .sidebar.hide {
    min-width: 0 !important;
  }

  .main_chat {
    position: fixed;
    left: 0;
    min-width: 100vw;
    padding: 1em;
    padding-bottom: 110px;
  }

  .searchbar_container {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .searchbar {
    width: 93%;
    padding-bottom: 75px;
  }

  .main_chat.hide {
    filter: brightness(0.3) blur(2px);
  }

  .conversation_history {
    width: 100vw;
    padding: 2em 1em;
  }

  .chatbubblebot_parent {
    margin-left: -0.5em;
  }

  .chat_bubble,
  .chat_bubble.user div {
    max-width: 70vw;
  }

  .toast {
    margin-bottom: 100px;
  }

  .starter_container2 {
    margin-top: 5vh;
  }

  .rounded_class {
    border-radius: 20px !important;
  }

  .navbar_content {
    width: 100%;
  }
}
